<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.admin.model.mapper.AdminMapper">
	<select id="getUsersCount">
		select count(*)
		from users
	</select>
	
	<select id="selectAllUser">
		select *
		from users
		order by user_no desc
	</select>
	
	<select id="getInquiryCount">
		select count(*)
		from content
			 join board using(content_no)
		where board_type = 1
	</select>
	
	<select id="selectAllQuiry">
		select *
		from content
			 join board using(content_no)
			 join MENU using(menu_no)
		where board_type = 1
		order by content_no desc
	</select>
	
	<select id="selectUser">
		select user_id
		from users
		where user_no = #{userNo}
	</select>
	
	<select id="getTemplatesCount">
		select count(*)
		from content 
			 left join board using(content_no)
		where board_type is null
	</select>
	
	
	<select id="selectAllTemplates">
		select *
		from content co
		     left join board b on(co.content_no = b.content_no)
		     left join content_category coa on(co.content_no = coa.content_no)
		     left join category ca on(ca.category_no = coa.category_no)
		     left outer join menu me on(ca.menu_no = me.menu_no)
		where board_type is null
		order by co.content_no
	</select>
	
	<select id="getrequestPostCount">
		select count(*)
		from content
			 join board using(content_no)
		where board_type = 2
	</select>
	
	<select id="selectAllRequestPost">
		select *
		from content
			 join board using(content_no)
			 join MENU using(menu_no)
		where board_type = 2
		order by content_no desc
	</select>
	
	<update id="userUpdate">
		update users
		set status = #{status}
		where user_no = #{userNo}
	</update>
	
	<update id="inquiryUpdate">
		update content
		set CONTENT_STATUS = #{contentStatus}, DELETE_STATUS = #{deleteStatus}
		where content_no = #{contentNo}
	</update>
</mapper>