<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.admin.model.mapper.AdminMapper">

	<select id="selectUser">
		select user_id
		from users
		where user_no = #{userNo}
	</select>

	<select id="getUsersCount">
		select count(*)
		from users

		<if test="search != null and search != ''">
			where user_name like '%${search}%'
		</if>
	</select>

	<select id="selectAllUser">
		select *
		from users
		<if test="search != null and search != ''">
			where user_name like '%${search}%'
		</if>
		order by user_no desc
	</select>

	<select id="getInquiryCount">
		select count(*)
		from content
		join board using(content_no)
		where board_type = 1
		<if test="menuNo != null">
			and menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			and content_title like '%${search}%'
		</if>
	</select>

	<select id="selectAllInquiry">
		select *
		from content
		join board using(content_no)
		join menu using(menu_no)
		join users using(user_no)
		where board_type = 1
		<if test="menuNo != null">
			and menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			and (content_title like '%${search}%' or content_detail like '%${search}%')
		</if>
		order by content_no desc
	</select>


<!-- 	<select id="getTemplatesCount"> -->
<!-- 		select count(*) -->
<!-- 		from content c -->
<!-- 		left join content_category cc on c.content_no = cc.content_no -->
<!-- 		left join category cat on cc.category_no = cat.category_no -->
<!-- 		left join menu m on cat.menu_no = m.menu_no -->
<!-- 		where not exists ( -->
<!-- 		select 1 -->
<!-- 		from board b -->
<!-- 		where c.content_no = b.content_no -->
<!-- 		) -->
<!-- 		<if test="menuNo != null"> -->
<!-- 			and m.menu_no = #{menuNo} -->
<!-- 		</if> -->
<!-- 	</select> -->
	
	<select id="getTemplatesCount">
		select count(*)
		from (select c.content_no, c.content_title, c.create_date, c.modify_date, c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name,
			   LISTAGG(cat.category_name, ',') WITHIN GROUP (ORDER BY cat.category_name) AS category_name
		from content c
		left join content_category cc on c.content_no = cc.content_no
		left join category cat on cc.category_no = cat.category_no
		left join menu m on cat.menu_no = m.menu_no
		where not exists (
		select 1
		FROM board b
		where c.content_no = b.content_no
		)
		<if test="menuNo != null">
			and cat.menu_no = #{menuNo}
		</if>
		group by c.content_no, c.content_title, c.create_date, c.modify_date, c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name)
	</select>

	<select id="selectAllTemplates">
		select c.content_no, c.content_title, c.create_date, c.modify_date, c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name,
			   LISTAGG(cat.category_name, ',') WITHIN GROUP (ORDER BY cat.category_name) AS category_name
		from content c
		left join content_category cc on c.content_no = cc.content_no
		left join category cat on cc.category_no = cat.category_no
		left join menu m on cat.menu_no = m.menu_no
		where not exists (
		select 1
		FROM board b
		where c.content_no = b.content_no
		)
		<if test="menuNo != null">
			and cat.menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			and (c.content_title like '%${search}%' or c.content_detail like '%${search}%')
		</if>
		group by c.content_no, c.content_title, c.create_date, c.modify_date, c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name
		order by c.content_no desc
	</select>

	<select id="getrequestPostCount">
		select count(*)
		from content
		join board using(content_no)
		where board_type = 2
		<if test="menuNo != null">
			and menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			and (content_title like '%${search}%' or content_detail like '%${search}%')
		</if>
	</select>

	<select id="selectAllRequestPost">
		select *
		from content
		join board using(content_no)
		join menu using(menu_no)
		where board_type = 2
		<if test="menuNo != null">
			and menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			and (content_title like '%${search}%' or content_detail like '%${search}%')
		</if>
		order by content_no desc
	</select>

	<update id="userUpdate">
		update users
		set status = #{status}
		where user_no = #{userNo}
	</update>

	<update id="inquiryUpdate">
		update content
		set content_status = #{contentStatus}, delete_status = #{deleteStatus}
		where content_no = #{contentNo}
	</update>

	<update id="templatesUpdate">
		update content
		set content_status = #{contentStatus}, delete_status = #{deleteStatus}
		where content_no = #{contentNo}
	</update>

	<update id="requestUpdate">
		update content
		set content_status = #{contentStatus}, delete_status = #{deleteStatus}
		where content_no = #{contentNo}
	</update>

	<select id="countMenuTemp">
		select count(*)
		from content co
		left join board b on(co.content_no = b.content_no)
		left join content_category coa on(co.content_no = coa.content_no)
		left join category ca on(ca.category_no = coa.category_no)
		left outer join menu me on(ca.menu_no = me.menu_no)
		where board_type is null and
		<if test="i == 1">
			me.menu_no = 1
		</if>
		<if test="i == 2">
			me.menu_no = 2
		</if>
		<if test="i == 3">
			me.menu_no = 3
		</if>
		<if test="i == 4">
			me.menu_no = 4
		</if>
		<if test="i == 5">
			me.menu_no = 5
		</if>
		<if test="i == 6">
			me.menu_no = 6
		</if>
		<if test="i == 7">
			me.menu_no = 7
		</if>
	</select>

	<insert id="insertReply">
		insert into reply
		values(REPLY_SEQ.nextval, #{writer}, #{replyDetail}, sysdate, sysdate, default, #{contentNo})
	</insert>
</mapper>