<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.admin.model.mapper.AdminMapper">

	<select id="selectUser">
		SELECT user_id FROM users WHERE user_no = #{userNo}
	</select>

	<select id="getUsersCount">
		SELECT COUNT(*) FROM users
		<if test="search != null and search != ''">
			WHERE user_name LIKE '%' || #{search} || '%'
		</if>
	</select>

	<select id="selectAllUser">
		SELECT * FROM users
		<if test="search != null and search != ''">
			WHERE user_name LIKE '%' || #{search} || '%'
		</if>
		ORDER BY user_no DESC
	</select>

	<select id="getInquiryCount">
		SELECT COUNT(*) FROM content
		JOIN board ON content.content_no = board.content_no
		WHERE board_type = 1
		<if test="menuNo != null">
			AND menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			AND content_title LIKE '%' || #{search} || '%'
		</if>
	</select>

	<select id="selectAllInquiry">
		SELECT * FROM content
		JOIN board ON content.content_no = board.content_no
		JOIN menu ON board.menu_no = menu.menu_no
		JOIN users ON content.user_no = users.user_no
		WHERE board_type = 1
		<if test="menuNo != null">
			AND menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			AND (content_title LIKE '%' || #{search} || '%'  OR content_detail LIKE '%' || #{search} || '%' )
		</if>
		ORDER BY content_no DESC
	</select>

	<select id="getTemplatesCount">
		SELECT COUNT(*)
		FROM (
		SELECT
		c.content_no, c.content_title, c.create_date, c.modify_date,
		c.content_status, c.delete_status, c.user_no, c.md_recommendation,
		m.menu_name,
		STRING_AGG(cat.category_name, ',' ORDER BY cat.category_name) AS category_name
		FROM content c
		LEFT JOIN content_category cc ON c.content_no = cc.content_no
		LEFT JOIN category cat ON cc.category_no = cat.category_no
		LEFT JOIN menu m ON cat.menu_no = m.menu_no
		WHERE NOT EXISTS (
		SELECT 1 FROM board b WHERE c.content_no = b.content_no
		)
		<if test="menuNo != null">
			AND cat.menu_no = #{menuNo}
		</if>
		GROUP BY c.content_no, c.content_title, c.create_date, c.modify_date,
		c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name
		) AS temp
	</select>

	<select id="selectAllTemplates">
		SELECT
		c.content_no, c.content_title, c.create_date, c.modify_date,
		c.content_status, c.delete_status, c.user_no, c.md_recommendation,
		m.menu_name,
		STRING_AGG(cat.category_name, ',' ORDER BY cat.category_name) AS category_name
		FROM content c
		LEFT JOIN content_category cc ON c.content_no = cc.content_no
		LEFT JOIN category cat ON cc.category_no = cat.category_no
		LEFT JOIN menu m ON cat.menu_no = m.menu_no
		WHERE NOT EXISTS (
		SELECT 1 FROM board b WHERE c.content_no = b.content_no
		)
		<if test="menuNo != null">
			AND cat.menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			AND (c.content_title LIKE  '%' || #{search} || '%' OR c.content_detail LIKE  '%' || #{search} || '%')
		</if>
		GROUP BY c.content_no, c.content_title, c.create_date, c.modify_date,
		c.content_status, c.delete_status, c.user_no, c.md_recommendation, m.menu_name
		ORDER BY
		CASE WHEN c.md_recommendation = 'Y' THEN 0 ELSE 1 END,
		c.content_no DESC
	</select>

	<select id="getrequestPostCount">
		SELECT COUNT(*)
		FROM content
		JOIN board ON content.content_no = board.content_no
		WHERE board_type = 2
		<if test="menuNo != null">
			AND menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			AND (content_title LIKE  '%' || #{search} || '%' OR content_detail LIKE '%' || #{search} || '%' )
		</if>
	</select>

	<select id="selectAllRequestPost">
		SELECT *
		FROM content
		JOIN board ON content.content_no = board.content_no
		JOIN menu ON board.menu_no = menu.menu_no
		WHERE board_type = 2
		<if test="menuNo != null">
			AND menu_no = #{menuNo}
		</if>
		<if test="search != null and search != ''">
			AND (content_title LIKE '%' || #{search} || '%' OR content_detail LIKE '%' || #{search} || '%' )
		</if>
		ORDER BY content_no DESC
	</select>

	<update id="userUpdate">
		UPDATE users
		SET status = #{status}
		WHERE user_no = #{userNo}
	</update>

	<update id="inquiryUpdate">
		UPDATE content
		SET content_status = #{contentStatus}, delete_status = #{deleteStatus}
		WHERE content_no = #{contentNo}
	</update>

	<update id="templatesUpdate">
		UPDATE content
		SET content_status = #{contentStatus}, delete_status = #{deleteStatus}
		WHERE content_no = #{contentNo}
	</update>

	<update id="requestUpdate">
		UPDATE content
		SET content_status = #{contentStatus}, delete_status = #{deleteStatus}
		WHERE content_no = #{contentNo}
	</update>

	<select id="countMenuTemp">
		SELECT COUNT(*)
		FROM content co
		LEFT JOIN board b ON co.content_no = b.content_no
		LEFT JOIN content_category coa ON co.content_no = coa.content_no
		LEFT JOIN category ca ON ca.category_no = coa.category_no
		LEFT JOIN menu me ON ca.menu_no = me.menu_no
		WHERE b.board_type IS NULL
		<if test="i == 1"> AND me.menu_no = 1 </if>
		<if test="i == 2"> AND me.menu_no = 2 </if>
		<if test="i == 3"> AND me.menu_no = 3 </if>
		<if test="i == 4"> AND me.menu_no = 4 </if>
		<if test="i == 5"> AND me.menu_no = 5 </if>
		<if test="i == 6"> AND me.menu_no = 6 </if>
		<if test="i == 7"> AND me.menu_no = 7 </if>
	</select>

	<insert id="insertReply">
		INSERT INTO reply (
			reply_no, reply_detail, create_date, modify_date, reply_status, content_no, user_no
		) VALUES (
					 nextval('reply_seq'), #{replyDetail}, current_timestamp, current_timestamp, 'Y', #{contentNo}, #{userNo}
				 )
	</insert>

</mapper>
