<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.board.model.mapper.BoardMapper">
	<select id="selectCategory" resultType="map">
        SELECT content.views,content.content_no,content.content_title,TO_CHAR(content.content_detail) as content_detail, menu.menu_name, likes.user_no as likesUser,
		(select count(*) from likes l2 where l2.content_no = content.content_no) as like_count
		FROM content 
		left JOIN board ON content.content_no = board.content_no 
        left JOIN content_category on content.content_no = content_category.content_no
        left join category on content_category.category_no = category.category_no
		left JOIN menu ON category.menu_no = menu.menu_no 
		left JOIN likes ON content.content_no = likes.content_no 
		WHERE board.board_type is null and likes.user_no=#{userNo} and menu_name is not null 
		<if test="menu != 'All'">
			AND menu.menu_name =#{menu}
		</if>
		<if test="sort == 'newest'">
			order by content.create_date
		</if>
		<if test="sort == 'mostView'">
			order by content.views desc
		</if>
		
	</select>
	
	<select id="selectCategoryMyProjects">
        SELECT c.*, 
	    (SELECT COUNT(*) FROM likes WHERE likes.content_no = c.content_no) AS like_count
		FROM content c
		left JOIN board b ON c.content_no = b.content_no
        left JOIN content_category cc on c.content_no = cc.content_no
        left join category ccc on cc.category_no = ccc.category_no
		left JOIN menu m ON ccc.menu_no = m.menu_no
		WHERE c.user_no =3 and b.board_type is null and m.menu_name is not null
		<if test="menu != 'All'">
			AND m.menu_name =#{menu}
		</if>
		<if test="sort == 'newest'">
			order by c.create_date
		</if>
		<if test="sort == 'mostView'">
			order by c.views desc
		</if>
	</select>
	
	<select id="selectMyInquiry">
		select * from content 
        join board using(content_no)
        where board_type=1 and user_no=#{userNo}
	</select>
	<update id="throwBoardTrash">
		update content set content_status ='N' where content_no=#{contentNo}
	</update>
	
	
	
	
</mapper>