<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.users.model.mapper.UsersMapper">
	<select id="checkId">
		select count(*)
		from users
		where user_id=#{id}
	</select>


<!-- 로그인 -->
	<select id="signIn">
		select *
		from users
		where USER_ID = #{userId} and STATUS ='Y'
	</select>

	
	<insert id="insertUser">
		   insert into users (USER_NO, USER_ID, USER_PW, USER_NICKNAME, USER_NAME, USER_PHONE, USER_EMAIL,USER_BIRTH, USER_GENDER, STATUS, IS_ADMIN, JOIN_DATE, USER_COMMENT, USER_CREATOR_RANK,USER_PLAN, USER_PROFILE
    ) values (user_seq.nextval, #{userId}, #{userPw}, #{userNickname}, #{userName}, #{userPhone},#{userEmail}, #{userBirth}, 'M', 'Y', 'N', sysdate, '안녕하세요.', 'STARTER',#{userPlan}, 'DEFAULT_IMG.JPG')
	</insert>
	
	<select id="selectMyProject" resultType="map">
		select content_title , content_no
		from content c  join likes l using(content_no) where l.user_no = #{id}
	</select>
	
	<select id="selectMyRealProjects">
		select * from content where user_no=#{userNo}
	</select>

	<select id="selectuserIdPhone">
		SELECT COUNT(*)
		FROM USERS
		WHERE USER_NAME =#{userName} AND USER_PHONE =#{userPhone}
	</select>

</mapper>