<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pocopoco_vplay.users.model.mapper.UsersMapper">
	<select id="checkId">
		select count(*)
		from users
		where user_id=#{id}
	</select>


<!-- 로그인 -->
	<select id="signIn">
		select *
		from users
		where USER_ID = #{userId} and STATUS ='Y'
	</select>

	
	<insert id="insertUser">
		   insert into users (USER_NO, USER_ID, USER_PW, USER_NICKNAME, USER_NAME, USER_PHONE, USER_EMAIL, USER_BIRTH, USER_GENDER, STATUS, IS_ADMIN, JOIN_DATE, USER_COMMENT, USER_CREATOR_RANK,USER_PLAN, USER_PROFILE
    ) values (user_seq.nextval, #{userId}, #{userPw}, #{userNickname}, #{userName}, #{userPhone}, #{userEmail}, #{userBirth}, #{userGender}, 'Y', 'N', sysdate, default, default, default, 'DEFAULT_IMG.JPG')
	</insert>
	
	<select id="selectMyProject" resultType="map">
		SELECT 
	    c.content_title, c.VIEWS,
	    c.content_no, 
	    (SELECT COUNT(*) FROM likes l2 WHERE l2.content_no = c.content_no) AS like_count
		FROM content c  
		left JOIN likes l ON c.content_no = l.content_no
		left join board b on c.content_no = b.content_no
        left JOIN content_category on c.content_no = content_category.content_no
        left join category on content_category.category_no = category.category_no
        left JOIN menu ON category.menu_no = menu.menu_no 
		WHERE l.user_no =#{id} and b.board_type is null and menu_name is not null
		GROUP BY c.content_no, c.content_title, c.views
	</select>
	
	<select id="selectMyRealProjects">
       select c.*,(SELECT COUNT(*) FROM likes WHERE likes.content_no = c.content_no) AS like_count , b.board_type,m.menu_name
		from content c
            left join board b on c.content_no = b.content_no
            left JOIN content_category cc on c.content_no = cc.content_no
            left join category ccc on cc.category_no = ccc.category_no
            left JOIN menu m ON ccc.menu_no = m.menu_no 
        where c.user_no=#{userNo} and b.board_type is null and m.menu_name is not null and c.content_status='Y'
	</select>

	<select id="selectuserIdPhone">
		SELECT COUNT(*)
		FROM USERS
		WHERE USER_NAME =#{userName} AND USER_PHONE =#{userPhone}
	</select>
	
	<select id="findfollow">
		select count(*)
		from subscribe
		where creater_no = #{userNo}
	</select>

	<select id="findId">
		SELECT USER_ID, USER_NAME
		FROM users
		WHERE USER_NAME =#{userName} AND USER_PHONE =#{userPhone} AND USER_EMAIL =#{userEmail}
	</select>

  <update id="updateInfo">
      update users
      set user_name = #{userName},
          user_nickname = #{userNickname},
          user_phone = #{userPhone},
          user_email = #{userEmail},
          user_birth = #{userBirth},
          user_gender = #{userGender},
          user_comment = #{userComment}
      where user_no = #{userNo}
  </update>
  
	<update id="changePw">
	    update users
	    set user_pw = #{userPw}
	    where user_no = #{userNo}
	</update>

	<select id="findPw">
		select count(*)
		from users
		where user_id =#{userId} and user_phone = #{userPhone}
	</select>

	<update id="tempPwd">
		update users
		set USER_PW =#{userPw}
		where user_id =#{userId}
	</update>

	<select id="findName">
		select USER_NAME
		from users
		where user_id =#{userId}
	</select>
</mapper>