.sidebar_wrap{
	display: inline-block;
}

.sidebar {
	width: 240px;
	padding: 2rem;
}

.profile {
	text-align: center;
	margin-bottom: 24px;
}

.profile-image {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background-color: #33333e;
	margin: 0 auto 16px;
	overflow: hidden;
	position: relative;
}

.profile-image img{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.profile h2 {
	font-size: 18px;
	margin-bottom: 8px;
}

.profile p {
	color: #6f757d;
	font-size: 14px;
	line-height: 1.5;
	margin-bottom: 16px;
}

.menu-list {
	list-style: none;
}

.menu-item {
	display: flex;
	align-items: center;
	padding: 12px;
	color: #6f757d;
	border-radius: 8px;
	margin-bottom: 4px;
	cursor: pointer;
	font-size: 14px;
	transition: all 0.2s ease;
}

.menu-item:hover {
	background-color: #33333e;
	color: white;
}

.menu-item.active {
	background-color: #33333e;
	color: white;
}

.menu-item span {
	margin-right: 8px;
}

.menu-item.active{
	border: 1px solid #5e37e9;
	color: #fff;
	background: linear-gradient(45deg, #161840, #272A65);
}

.active svg {
	color: #8137E9;
}

@media ( max-width : 768px) {
	.sidebar {
		width: 100%;
	}
}