<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" th:fragment="topbar">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>top-bar</title>
<link rel="stylesheet" href="/css/topbar.css">
<script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
	<header class="vplay-header">

		<a href="/users/home" class="vplay-logo">
			<div class="vplay-logo-circle"></div> VPLAY
		</a>
		<nav class="vplay-nav-main">
			<a href="/board/video-template-list" class="vplay-nav-link">Video Templates</a> <a href="/board/music-list" class="vplay-nav-link">Music</a> <a href="/board/sound-effects-list" class="vplay-nav-link">Sound Effects</a> <a href="/board/graphic-template-list" class="vplay-nav-link">Graphic Templates</a> <a href="/board/stock-video-list" class="vplay-nav-link">Stock Video</a> <a href="/board/photo-list" class="vplay-nav-link">Photos</a> <a href="/board/font-list" class="vplay-nav-link">Fonts</a>
		</nav>

		<div class="vplay-nav-right">
			<th:block th:if="${session.loginUser != null}">

				<a th:href="@{/users/{userNo}(userNo=${session.loginUser.userNo})}" class="relative inline-block"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">

				<a th:href="@{/users/{userNo}(userNo=${session.loginUser.userNo})}" class="relative inline-block"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<g fill="none" stroke="currentColor" stroke-width="2">
							<rect width="16" height="12" x="4" y="6" rx="2" />
							<path d="m4 9l7.106 3.553a2 2 0 0 0 1.788 0L20 9" />
						</g>
					</svg>
					<span id="unreadMessageCount" class="hidden absolute -top-2 -right-2 bg-purple-700 text-white text-xs px-1.5 py-0.5 rounded-full animate-bounce"></span>
					</svg>
				</a>
			</th:block>
			<a onclick="location.href='/users/license'" class="vplay-nav-link">License</a> <a onclick="location.href='/users/price'" class="vplay-nav-link">Pricing</a>

			<th:block th:if="${session.loginUser == null}">
				<a onclick="location.href='/users/signIn'" class="vplay-nav-link vplay-sign-in">Sign in</a>
			</th:block>
			<th:block th:if="${session.loginUser != null}">
				<a onclick="location.href='/users/my_projects'" class="vplay-nav-link vplay-sign-in">MyPage</a>
				<a onclick="location.href='/users/logout'" class="vplay-nav-link">Log out</a>
			</th:block>
		</div>
		<script src="/js/topbar.js" defer></script>
	</header>
</body>
</html>