<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VPLAY - Stock Videos</title>
    <link href="/css/board/videoTemplates/list.css" rel="stylesheet">
    <link href="/css/topbar.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div th:replace="~{views/common/topbar :: topbar}"></div>
	
    <div class="main-content">
        <aside class="sidebar">
            <div class="category-title">Categories</div>
            <ul class="category-list">
            	<th:block th:each="vc : ${videoTempCategory}">
            	<li>
            	<input type="checkbox" class="category-checkbox" th:value="${vc.categoryName}">
            	<a>[[${vc.categoryName}]]</a>
            	</li>
            	</th:block>
            </ul>
        </aside>

        <main class="content">
            <h1 class="title">Every Stock Video You Need, All in One Place!</h1>
            
            <div class="tags">
            	<th:block th:each="vp : ${videoTempPopularCate}">
            	<span class="tag">[[${vp.categoryName}]]</span>
            	</th:block>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="Search">
            </div>

            <div class="video-grid">
                <div class="video-card" th:each="vl: ${videoTemplateList}">
                    <div class="video-thumbnail"></div>
                    <div class="video-info">
                    	<input type="hidden" th:value="${vl.contentNo}"/>
                        <h3>[[${vl.contentTitle}]]</h3>
                        <p>[[${vl.userNickName}]]</p>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script>
    window.onload=()=>{
    	const divs = document.querySelector('.video-grid');
    	
    	[...divs.children].map((video, index, array) =>{
    		video.addEventListener('click', function(){
    			const contentNo = video.children[1].children[0].value;
    			console.log(contentNo);
    			location.href = "/board/video-templates/" + contentNo;
    		})
    	})
    	
    	const categoryList = document.querySelector('.category-list');
//     	console.log(categoryList);
    	const checkboxArr = [];
    	[...categoryList.children].map((category, index, array) =>{
    		const checkbox = category.children[0];
    		checkbox.addEventListener('click', ()=>{
    			
    			for(const c of categoryList.children){
    				if(c.children[0].checked){
    					checkboxArr.push(c.children[0].value);
    				}
    			}
    			
    			console.log(checkboxArr);
    			let checkboxValue = checkboxArr.join("+");
    			checkboxArr.length = 0;
    			console.log(checkboxValue);
// 				fetch('/board/category/' + checkboxValue , {
// 					method : 'get',
// 					headers : {'content-type' : 'application/json; charset=UTF-8'},
// 					body: JSON.stringify({
// 						checkboxVal : checkboxVal
// 					})
// 				})
// 				.then(response => response.json())
// 				.then(data =>{
// 					console.log(data);
// 				})

    			
    		})
    		
    		
    	})
    }
    </script>
</body>
</html>