* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: #191820;
	color: #fff;
	display: flex;
	min-height: 100vh;
}

.sidebar {
	width: 240px;
	height: 100vh;
	background-color: #262d34;
	padding: 20px;
	position: fixed;
}

.main-content {
	flex: 1;
	margin-left: 240px;
	padding: 2rem 3rem;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.page-title {
	font-size: 25px;
	margin-bottom: 24px;
	cursor: default;
}

.content-card {
	background-color: #262d34;
	border-radius: 8px;
	min-height: 780px;
	display: flex;
	flex-direction: column;
	z-index: 1;
	padding: 0 2rem;
}

.filter-dropdown {
	padding: 8px 12px;
	background-color: #374151;
	border: none;
	border-radius: 6px;
	color: white;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-repeat: no-repeat;
	background-position: right 8px center;
	background-size: 16px;
	padding-right: 35px;
	padding-left: 5px;
	margin-right: 15px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
}

.search-bar {
	display: flex;
	align-items: center;
	padding: 16px;
	border-bottom: 2px solid #374151;
}

.search-bar input {
	flex: 1;
	background-color: #374151;
	border: none;
	padding: 8px 16px;
	border-radius: 6px;
	color: white;
	margin-right: 8px;
}

.search-bar input::placeholder {
	color: #9ca3af;
}

.table-container {
	flex: 1;
	overflow-x: auto;
}

table {
	width: 100%;
	border-collapse: collapse;
	white-space: nowrap;
}

th, td {
	padding: 18px;
	text-align: center;
	border-bottom: 1px solid #374151;
}

th {
	color: #9ca3af;
	font-weight: 500;
	font-size: 15px;
}

td {
	font-size: 14px;
	cursor: pointer;
}

tbody tr:hover {
	background-color: #2c343d;
}

.status {
	font-size: 12px;
	padding: 15px;
}

.status.active {
	color: #34d399;
}

.status.inactive {
	color: #ff4545;
}

.pagination {
	display: flex;
	justify-content: center;
	gap: 8px;
	padding: 15px;
}

.pagination ul {
	list-style: none;
	display: flex;
	gap: 8px;
}

.pagination li {
	display: inline-block;
}

.pagination a {
	display: inline-block;
	padding: 8px 12px;
	border-radius: 4px;
	color: white;
	text-decoration: none;
	transition: color 0.3s ease;
}

.pagination a.active {
	color: #6a2bc7;
}

.pagination a:hover:not(.active) {
	color: #555555;
}

.AddSettings {
	position: relative;
}

/*td.AddSettings:hover .hover_action,
.hover_action:hover {
	visibility: visible;
}*/
.hover_action {
	position: fixed;
	top: 20%;
	left: 85%;
	/*visibility: hidden;*/
	display: none;
	z-index: 9999;
	border: 1px solid #1F1F2C;
	background: #1F1F2C;
	border-radius: 15px;
	padding: 0.5rem 0;
}

.hover_action span{
	font-size: 0.8rem;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0.3rem 0.8rem;
	color: #6F757D;
}

.hover_action span:hover {
	color: #fff;
}

tr.request-list.mdActive {
	background: #303e4d;
}

tr.select {
	background: #324355;
}

.recommended{
	background:#162331;
}


/*반응형*/
@media ( max-width : 1024px) {
	.sidebar {
		width: 200px;
	}
	.main-content {
		margin-left: 200px;
	}
}

@media ( max-width : 768px) {
	.sidebar {
		width: 64px;
		padding: 16px 8px;
	}
	.logo-text, .nav-item span {
		display: none;
	}
	.main-content {
		margin-left: 64px;
	}
	.nav-item {
		justify-content: center;
		padding: 12px;
	}
}