* {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.floatingBtn {
	position: fixed;
	bottom: 50px;
	right: 50px;
	cursor: pointer;
	padding: 8px 16px;
	z-index: 999;
	background-color: transparent;
	border-radius: 50px;
	border: 2px solid white;
	transition-duration: 0.2s;
}

.floatingBtn:hover {
	border: 2px solid #5e37e9;
	color: #fff;
	background: linear-gradient(45deg, #161840, #272A65);
	box-sizing: border-box;
	transition-duration: 0.2s;
}