<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link href="/css/topbar.css" rel="stylesheet" type="text/css">
<link href="/css/user/sidebar.css" rel="stylesheet" type="text/css">
<link href="/css/user/myPage.css" rel="stylesheet" type="text/css">
<title>My Favorite</title>
<style>
</style>
</head>
<body>
	<div th:replace="~{views/common/topbar :: topbar}"></div>
	<div class="main-content">
		<div th:replace="~{views/myPage/my_sidebar}"></div>
		<div class="content_wrap">
			<div class="content-header">
				<h1>My Favorite</h1>
			</div>
			<div class="filter-buttons">
				<select class="filter-dropdown" id="categorySelect">
					<option value="All">All</option>
					<option value="video Templates">Video Templates</option>
					<option value="Stock Video">Stock Video</option>
					<option value="Graphic Templates">Graphic Templates</option>
					<option value="Music">Music</option>
					<option value="Sound Effects">Sound Effects</option>
					<option value="Photos">Photos</option>
					<option value="Fonts">Fonts</option>
				</select> 
				<select class="filter-dropdown" id="sortSelect">
					<option value="newest">새로운순</option>
					<option value="mostView">조회수 많은 순</option>
				</select>
			</div>
		<th:block th:if="${not #lists.isEmpty(list)}">
			<div class="grid">
				<div class="grid-item" th:each="r : ${list}">
					<button class="menu-dots">⋮</button>

					<div class="item-content">
						<span class="item-title">[[${r.CONTENT_TITLE}]]</span> [[${r.CONTENT_NO}]]
						<div class="item-actions">
							<span>👁️[[${r.VIEWS}]]</span> <span>❤️[[${r.LIKE_COUNT}]]</span>
						</div>
					</div>
				</div>
			</div>
		</th:block>	
		
		<th:block th:if="${#lists.isEmpty(list)}">
			<p>좋아요를 누른 목록이 없습니다!</p>
		</th:block>
		
		</div>
	</div>

	<script type="text/javascript">

			document.querySelectorAll('.filter-dropdown').forEach((dropdown)=>{
				dropdown.addEventListener('change',(e)=>{
					let value = document.getElementById('categorySelect').value;
					let sortValue = document.getElementById('sortSelect').value;
					console.log(sortValue);
					console.log(value);
					$.ajax({
						
						url:'/board/selectCategory',
						data:{value:value,sortValue:sortValue},
						success:data=>{
							console.log(data);
							let grids = document.querySelectorAll('.grid');
							
							grids.forEach(grid=>{
								grid.innerHTML='';
							});
							
							
							if(!data || data.length == 0){
								grids[0].innerHTML='<p>검색된 좋아요 목록이 없습니다! 좋아요를 눌러보세요!</p>';
//	 							grids.forEach(grid=>{
//	 								grid.innerHTML ='<p>검색된좋아요 목록이 없습니다! 좋아요를 눌러보세요!</p>';
//	 							}); 
								return;
							}
//	 						grids.forEach((grid)=>{
								data.forEach((r)=>{
									let gridItem = `
										<div class="grid-item">
				                            <button class="menu-dots">⋮</button>
				                            <div class="item-content">
				                                <span class="item-title">${r.CONTENT_TITLE}</span> ${r.CONTENT_NO}
				                                <div class="item-actions">
				                                    <span>👁️ ${r.VIEWS}</span> <span>❤️ ${r.LIKE_COUNT}</span>
				                                </div>
				                            </div>
				                        </div>
										`;
									grids[0].innerHTML += gridItem;
								});
								
//	 						});
							
						},
						error:data=>console.log(data)
					});
				});
				
				
			});
			
			

			

			
			
			
			
			
			
			
			
			
			
			
	</script>
</body>
</html>