
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<link href="/css/topbar.css" rel="stylesheet" type="text/css">
<link href="/css/user/sidebar.css" rel="stylesheet" type="text/css">
<link href="/css/user/myPage.css" rel="stylesheet" type="text/css">
<title>My Project</title>
<style>
.button {
	background-color: #5e37e9;
	color: white;
	border: none;
	border-radius: 0.375rem;
	padding: 6px;
	font-size: 0.875rem;
	cursor: pointer;
	margin-left: auto;
	margin-top: 2.5px;
}

.button:hover {
	background-color: #8137e9;
}

.dropdown {
	position: absolute;
	top: 25%;
	background-color: #252535;
	border-radius: 0.5rem;
	padding: 0.5rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	display: none;
	z-index: 100;
	right: 0;
}

.dropdown:hover {
	background-color: #2a2a3a;
}

.dropdown.show {
	display: block;
	margin-right: 7.5px;
}

.dropdown-item {
	display: flex;
	align-items: center;
	padding: 3px;
	gap: 0.5rem;
	color: #fff;
	text-decoration: none;
	font-size: 0.875rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.dropdown-item i {
	font-size: 1rem;
	color: #6f757d;
}
</style>
</head>
<body>
	<div th:replace="~{views/common/topbar :: topbar}"></div>
	<div class="main-content">
		<div th:replace="~{views/myPage/my_sidebar}"></div>
		<div class="container content_wrap">
			<div class="content-header">
				<h1>My Projects</h1>
			</div>
			<div class="filter-buttons">
				<select class="filter-dropdown" id="categorySelect">
					<option value="All">All</option>
					<option value="video Templates">Video Templates</option>
					<option value="Stock Video">Stock Video</option>
					<option value="Graphic Templates">Graphic Templates</option>
					<option value="Music">Music</option>
					<option value="Sound Effects">Sound Effects</option>
					<option value="Photos">Photos</option>
					<option value="Fonts">Fonts</option>
				</select> <select class="filter-dropdown" id="sortSelect">
					<option value="newest">새로운순</option>
					<option value="mostView">조회수 많은 순</option>
				</select>
				<button class="button" id="content-write">컨텐츠 글 쓰기</button>
			</div>

			<th:block th:if="${not #lists.isEmpty(list)}">
				<div class="grid">
					<div class="grid-item" th:each="r : ${list}">
						<button class="menu-dots">⋮</button>
						<div class="dropdown">
							<div class="dropdown-item">
								<span class="trash-icon"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 256 256">
  <path transform="translate(0, 10)" fill="currentColor" d="M216 48h-40v-8a24 24 0 0 0-24-24h-48a24 24 0 0 0-24 24v8H40a8 8 0 0 0 0 16h8v144a16 16 0 0 0 16 16h128a16 16 0 0 0 16-16V64h8a8 8 0 0 0 0-16M96 40a8 8 0 0 1 8-8h48a8 8 0 0 1 8 8v8H96Zm96 168H64V64h128Zm-80-104v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0m48 0v64a8 8 0 0 1-16 0v-64a8 8 0 0 1 16 0" />
</svg> </span> 삭제
							</div>
						</div>
						<div class="item-content">
							<span class="item-title" th:text="${r.contentTitle}"></span> <span th:text="${r.contentNo}" hidden=""></span>
							<div class="item-actions">
								<span>👁️ [[${r.views}]]</span> <span>❤️ [[${r.likeCount}]]</span>
							</div>
						</div>
					</div>
				</div>
			</th:block>
			<th:block th:if="${#lists.isEmpty(list)}">
				<p>작성한 프로젝트가 없습니다!</p>
			</th:block>
		</div>
	</div>
	<script type="text/javascript">
    document.getElementById("content-write").addEventListener("click", () => {
        location.href = "/board/writeContent"
    })

    const menuDots = document.querySelectorAll('.menu-dots');
    menuOption(menuDots);
    
    const list = document.querySelectorAll(".grid-item");
    clickDetail(list);
    
    //디테일 페이지 들어가기
    function clickDetail(list) {
        [...list].map((content, index, array) => {
            content.addEventListener('click', function(event) {
                const contentNo = this.querySelector(".item-content").children[1].innerText;
                let menuName = this.querySelector(".item-content").children[2].value;
                console.log(contentNo);
                console.log(menuName);
                switch(menuName) {
                    case "video Templates":  menuName = "video-templates"; break;
                    case "Stock Video" : menuName = "stock-video"; break;
                    case "Sound Effects" : menuName = "sound-effects"; break;
                    case "Graphic Templates" : menuName = "graphic-templates"; break;
                }
                location.href = "/board/" + menuName + "/" + contentNo;
                event.stopPropagation();
            })
        })
    }
    
    //... 선택 후 삭제
    function menuOption(menuDots) {
        menuDots.forEach(button => {
            button.addEventListener('click', function() {
                event.stopPropagation();
                let dropdown = this.nextElementSibling;
                document.querySelectorAll('.dropdown').forEach(d => {
                    if(d != dropdown) {
                        d.classList.remove('show');
                    }
                });
                dropdown.classList.toggle('show');
            });
        });
        
        document.addEventListener('click', (event) => {
            document.querySelectorAll('.dropdown').forEach(d => {
                d.classList.remove('show');
            });
        });

        document.querySelectorAll('.dropdown-item').forEach(d => {
            d.addEventListener('click', (e) => {
                console.log(e.target);
                let gridItem = e.target.closest('.grid-item');
                let span = gridItem.querySelectorAll('span');
                let contentNo = span[2].textContent.trim();
                console.log(contentNo);
                $.ajax({
                    url: '/board/throwBoardTrash',
                    data: {contentNo: contentNo, trash: "0"},
                    type: 'POST',
                    success: data => {
                        if(data == 1) {
                            gridItem.remove();
                        } else {
                            alert('게시글 삭제에 실패했습니다.');
                        }
                    },
                    error: data => alert('서버오류')
                })
                event.stopPropagation();
            });
        });
    }

    document.querySelectorAll('.filter-dropdown').forEach((dropdown) => {
        dropdown.addEventListener('change', (e) => {
            let value = document.getElementById('categorySelect').value;
            let sortValue = document.getElementById('sortSelect').value;
            console.log(value);
            console.log(sortValue);
            $.ajax({
                url: '/board/selectCategoryMyProjects',
                data: {value: value, sortValue: sortValue},
                success: data => {
                    let grids = document.querySelectorAll('.grid');
                    grids.forEach(grid => {
                        grid.innerHTML = '';
                    });
                    if(!data || data.length == 0) {
                        grids[0].innerHTML = '<p>검색된 목록이 없습니다!</p>';
                        return;
                    }
                    data.forEach((r) => {
                        console.log(r.contentTitle);
                        let gridItem = `
                            <div class="grid-item">
                                <button class="menu-dots">⋮</button>
                                <div class="dropdown" >
                                    <div class="dropdown-item">
                                        <span class="trash-icon"></span> Delete
                                    </div>
                                </div>
                                <div class="item-content">
                                    <span class="item-title">${r.contentTitle}</span> 
                                    <span>${r.contentNo}</span>
                                    <input type="hidden" value="${r.menuName}">
                                    <div class="item-actions">
                                        <span>👁️ ${r.views}</span> <span>❤️ ${r.likeCount}</span>
                                    </div>
                                </div>
                            </div>
                        `;
                        grids[0].innerHTML += gridItem;
                        
                        const list = document.querySelectorAll(".grid-item");
                        const menuDots = document.querySelectorAll('.menu-dots');
                        clickDetail(list);
                        menuOption(menuDots);
                    });
                    console.log(data);
                },
                error: data => console.log(data)
            });
        });
    });
	</script>
</body>
</html>